@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

.educationSection {
  width: 100vw;
  padding: 2rem 1rem;
  background: linear-gradient(135deg, #F7EFE5, #E2BFD9); 
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  position: relative;
  overflow: hidden;
  animation: fadeIn 1s ease-in;

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  font-family: 'Inconsolata', monospace;
}

.educationTitle {
  text-align: center;
  margin-bottom: 2.5rem;

  h2 {
    font-size: 3rem;
    color: #674188;
    font-weight: 500;

    @media (max-width: 768px) { 
      font-size: 2.5rem; 
    }
    @media (max-width: 480px) { 
      font-size: 2rem; 
    }
  }
}

.educationContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  @media (max-width: 1024px) {
    max-width: 1000px;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem; // Decrease gap for smaller screens
  }
}

.educationCard {
  width: 400px;
  height: 580px;
  perspective: 1000px;
  transition: transform 2s;
  position: relative;
  cursor: pointer;

  &:hover .cardInner {
    transform: rotateY(180deg);
  }

  @media (max-width: 1024px) { 
    width: 350px; 
    height: 520px;
  }
  @media (max-width: 768px) { 
    width: 90%; 
    height: 300px; 
  }
  @media (max-width: 480px) { 
    width: 100%; 
    height: 280px; 
  }
}

.cardInner {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.cardFront, .cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.cardFront {
  background-color: #ffffff;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #E2BFD9;
}

.cardBack {
  background-color: #f2f2f2;
  color: #674188;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;

  @media (max-width: 768px) {
    height: 150px;
  }
  @media (max-width: 480px) {
    height: 140px;
  }
}

.content {
  text-align: center;

  h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #674188;
    margin-bottom: 0.5rem;

    @media (max-width: 768px) { 
      font-size: 1.6rem; 
    }
    @media (max-width: 480px) { 
      font-size: 1.4rem; 
    }
  }

  .degree {
    font-size: 1.4rem;
    color: #674188;
    margin-bottom: 0.5rem;

    @media (max-width: 768px) { 
      font-size: 1.3rem; 
    }
    @media (max-width: 480px) { 
      font-size: 1.1rem; 
    }
  }

  .year {
    font-size: 1.2rem;
    color: #674188;

    @media (max-width: 768px) { 
      font-size: 1.1rem; 
    }
    @media (max-width: 480px) { 
      font-size: 1rem; 
    }
  }
}

.percentage {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;

  @media (max-width: 768px) { 
    font-size: 1.6rem; 
  }
  @media (max-width: 480px) { 
    font-size: 1.4rem; 
  }
}

.bulletPoints {
  list-style-type: disc;
  padding-left: 1.5rem;

  li {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;

    @media (max-width: 768px) { 
      font-size: 1.1rem; 
    }
    @media (max-width: 480px) { 
      font-size: 1rem; 
    }
  }
}
